* {
  margin: 0;
  padding: 0;
  text-decoration:none;
  //border: 1px solid red;
}

body, html {
  height: 100%;
  //width: 100%;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

//body {border: 2px solid red;}

//html {border: 2px solid blue;}

a[name="Home"] {
  position:relative;
  top:-20px;
}

.logo {
  margin: 15px auto;
  text-transform: uppercase;
  width: 160px;
  font-family: 'Courier New';
  font-size: 34px;
  letter-spacing: 0.1em;
  text-align: center;
  -ms-user-select: none;
  //border: 1px solid red;
}

#dot {
  position:relative;
  top: -7px;
  left: -2px;
  display: inline-block;
  letter-spacing: 0;
  //border: 1px solid red;
  font-size: 30px;
}

nav {
  //background-color: black;
  width:80%;
  margin: 0 auto;
}

ul {
  margin: 0 auto;
  width: 400px;
  //border: 1px solid red;
}

li {
  list-style: none;
  margin: 20px;
  display:inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

li a {
  color: #000;
}

li:hover a, #forward:hover, #back:hover {
  color: #ccc;
  cursor: pointer;
}

.banner {
  width: 100%;
  display:flex;
  align-items: flex-start;
  margin: 0 auto;
  background-image: url(../PIcs/1.jpg);
  height: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% -50px;
  background-attachment: fixed;
  //background-size: cover;
  //animation: carousel 20s infinite ease-in-out;
}


/*@keyframes carousel {
  0%, 25%  {background-position: 50% -200px, 15% -150px, 60% -490px}
  30%, 55% {background-position: 300% -200px, 15% -150px, 60% -490px }
  60%, 85% {background-position: 300% -200px, 330% -150px, 60% -490px}
}*/

.banner-slogan {
  font-size: 46px;
  color:#fff;
  font-weight: bold;
  margin: auto;
  text-transform: uppercase;
  //margin-top: 220px;
  //border: 1px solid red;
}

.banner-nav {
  //background-color: #000;
  height: 60px;
  line-height: 60px;
  width: 80%;
  margin:0 auto;
  color: #000;
  font-size: 20px;
  //text-align: center;
}

#forward, #back {
  display: inline-block;
//  border: 1px solid red;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
}

#forward {
  float:right;
}

#back {
  color: #000;
  display: none;
}

.quote {
  width: 35%;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

.titles {
  font-size: 26px;
  color: black;
  opacity: 0.4;
  font-weight: bold;;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

}

.container {
  //border: 1px solid red;
  width: 80%;
  height: auto;
  margin: 70px auto 80px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.container div {
  width: 285px;
  height: 450px;   
  text-align: center;
  //overflow: hidden;
  margin: 20px;
  border-radius: 7px;
  position: relative;    
  padding-bottom: 0;
  transition: all 0.5s ease-in-out;
}

.container div:hover {
//  transform: scale(1.3);
  z-index: 2;
  box-shadow: 0 0 10px 0px;

}

a img {
  height: 450px;
  margin: 0px auto;
  border:0;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s ease-in-out;
  border-radius: 7px;  
}


.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

.hr-text, .quote-author {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  width: 100%;
  margin: 35px auto;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.quote-author {
  width: 130px;
  margin: 35px auto 70px auto;
  letter-spacing: 1px;
}

.hr-text:before, .quote-author:before {
  content: '';
  background: black;
  //background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after, .quote-author:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: black;
  background-color: #fcfcfa;
  text-transform: uppercase;
}

.quote-author:after {
  text-transform: none;
}

.about-text-container {
  //border: 1px solid #ccc;
  width: 63%;
  margin: 80px auto;
  position: relative;
  //top: 250px;
  overflow: inherit;
}

p.about-text {
  width: 45%;
  position: absolute;
  line-height: 160%;
}

.round-window {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  position: relative;
  left: 230px;
  background-image: url(../PIcs/Author.jpg);
  background-repeat: no-repeat;
  background-position: 50% calc(80% + 110px);
  background-attachment: fixed;
  //border: 1px solid black;
  margin: 80px auto;
  //margin-bottom: 100px;
}

div.big-photo-1, div.big-photo-2, div.big-photo-3, div.big-photo-4 {
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  //border: 1px solid red;
}

div.big-photo-1 {
  background-image: url('../PIcs/10.jpg');
  margin-top: 80px;
  background-position: 50% top;
}

div.big-photo-2 {
  background-image: url(../PIcs/11.jpg);
  background-position: 50% top;
}

div.big-photo-3 {
  background-image: url(../PIcs/12.jpg);
  background-position: 50% top;
  margin-bottom: 80px;
}
/*
div.big-photo-4 {
  background-image: url(../PIcs/111.jpg);
  background-position: 50% top;

}
*/

div.contacts-info {  
  height: 50px;
  width: 420px;
  overflow: visible;  
  font-size: 20px;
  margin: 80px auto 80px auto;  
  font-size: 17.5px;
}

div.contacts-info p:first-child, div.contacts-info p:last-child {
  font-size: 17.5px;  
}

div.contacts-info p:nth-child(2) {  
  opacity: 0.4;
  font-style: italic;
  font-family: Georgia, Cambria, serif;
}

span.contact-email {
  text-decoration: underline;
}

.contacts-footer-container {
  background-color: white;
  margin-bottom: 250px;
  z-index: 2;
  height: 900px;  
}


.form-container {  
  position: relative;
  left: 20px;
  margin: 0 auto;
  width: 460px;
  height: 340px;
  margin-bottom: 170px;
}


input {
  background: none;
  border: solid 1px black;
  color: black;
  padding: 15px 40px;
  font-size: 18px;
  display: block;
  margin-bottom: 25px;
}

textarea {
  font-size: 18px;
  border: solid 1px black;
  margin-top: 48px;
  font-family: Arial;
  width: 420px;
  overflow: auto;
}

input:focus, input:active, textarea {
  outline: none;
}

input[type="text"], input[type="email"] {
  border: none;
  border-bottom: solid 1px black;
  display: block;
  width: 200px;
}

#subject-input {
  width: 422px;
}

input[type="email"] {
  padding-left: 15px;
}

input[type="button"] {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px; 
}

input[type="button"]:active {
  color: white;
  background: black;
}

input[type="button"]:hover {
  cursor: pointer;
  color: white;
  background: black;
}

.input-group {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.input-group label {
  position: absolute;
  top: 47%;
  left: 0px;
  transform: translateY(-50%);
  font-family: Georgia, Cambria, serif;
  font-style: italic;
  font-size: 17.5px;
  color: #999;
  pointer-events: none;
  -ms-user-select: none;
  transition: all 0.2s ease-in-out;
}

.input-group input {
  padding: 15px 0px;
}

.input-group input:focus + label, input.has-value + label, .input-group {
  top: -7px;
  font-size: 12px;
  color: #aaa;
}

textarea:focus + label, textarea.has-value + label {
  top: 25px;  
  font-size: 12px;
  color: #aaa;
}


 footer {
   height: 230px;
   background-color: #000;
   color: #FFF;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: -1;
   display: none;
 }

 footer ul {
   width: 100%;
   margin: 30px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   z-index: -1;
   //border: 1px solid red;
 }

 footer ul li {
   //border: 1px solid blue;
   list-style: none;
   z-index: -1;
 }

 footer li a {
   color: #FFF;
   z-index: -1;
 }

 .footer-row {
   margin: 40px auto 0 auto;
   width: 100%;
   text-align: center;
 }

 .footer-row strong {
   font-size: 34px;
   text-transform: uppercase;
 }

 .footer-row p {
   font-size: 12px;
   text-transform: uppercase;
   color: #999;
 }


/*---- @MEDIA RULES START HERE ----*/

 @media (max-width: 1500px) {
   .container {
     justify-content: center;
   }
 }

 @media (max-width: 1100px) {
   p.about-text {
     width: 100%;
     position: relative;
     line-height: 160%;
   }

   .round-window {
     left: 0px;
     background-image: url(../PIcs/Author2.jpg);
   }

   .quote {
     width: 60%;
   }
 }

 @media (max-width: 850px) {
   .container {
     width: 100%;
   }

   .banner-slogan {
     font-size: 26px;
   }

   .quote {
     width: 90%;
     font-size: 18px;
   }

   .about-text-container {
     width: 83%;
   }
 }

 @media (max-width: 530px) {
  nav {
    width: 100%;
  }
     
  ul {
    width: 100%;
    text-align: center;
  }

  li {
    margin-left: 11px;
    margin-right: 11px;
  }  
  
  .banner {
    background-image: url(../PIcs/1-s.jpg);
  }
     
  .hr-text--mobile {
    width: 90%;  
    height: 40px;
  }
  .round-window {
    height: 310px;
    width: 310px;           
  }
     
  .titles {
    font-size: 20px;
  }

  div.big-photo-1 {  
    background-position: 40% top;
  }

  div.big-photo-2 { 
    background-position: 22% top;
  }

  div.big-photo-3 {  
    background-position: 87% top;  
  }
     
  .container div {
     overflow: hidden;
  }
     
  .contacts-footer-container {
    height: 970px;
  }
    
  div.contacts-info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    height: 120px;
  }

  div.contacts-info p:first-child {
    font-size: 18px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  div.contacts-info p:nth-child(2) {
    font-size: 16px; 
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
    
  div.contacts-info p:last-child {    
    font-size: 15px;
    width: 100%;    
    margin: 22px auto 0;
  }

  .form-container {       
    left: 0px;    
    width: 310px;    
  }

  textarea {   
    width: 99%;   
  }

  input[type="text"], input[type="email"] {
    width: 147px;
  }

  #subject-input {
    width: 99%;
  }

  input[type="email"] {
    padding-left: 0;
  }

  .input-group {
    margin-right: 0;
  }

  .name {  
    margin-right: 10px;    
  }

  .input-group label {
    font-size: 15px;
  }

  .input-group input {
    padding: 15px 0px;
  }  
 }


